<ion-view hide-nav-bar="true" class="viewbackgroundcolor">
    <ion-content style="margin-top: 10%">
        <div align="center" class="padding">
            <img src="./img/ionic.png" />
        </div>
        <div class="container">
            <div>
                <form class="form"  ng-model="form">
                    <input class="input" type="password" ng-model="user.new_password"  placeholder="请输入新的密码">
                    <input class="input" type="password" ng-model="user.sure_password"  placeholder="请再次确认密码">
                    <button class="loginbutton"  ng-click="sure()">确定</button>
                </form>
            </div>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </ion-content>
</ion-view>