<ul class="list">
    <li class="item item-checkbox" >
        <label class="checkbox">
            <input type="checkbox" ng-true-value="'1-2 '" ng-false-value="' '" ng-model="choosesection.value1">
        </label>
        1 - 2 节
    </li>
    <li class="item item-checkbox" >
        <label class="checkbox">
            <input type="checkbox" ng-true-value="'3-4 '" ng-false-value="' '" ng-model="choosesection.value2">
        </label>
        3 - 4 节
    </li>
    <li class="item item-checkbox" >
        <label class="checkbox">
            <input type="checkbox" ng-true-value="'5-7 '" ng-false-value="' '" ng-model="choosesection.value3">
        </label>
        5 - 7 节
    </li>
    <li class="item item-checkbox">
        <label class="checkbox" >
            <input type="checkbox"  ng-true-value="'8-10 '" ng-false-value="' '"  ng-model="choosesection.value4">
        </label>
        8 - 10 节
    </li>
</ul>
