<div class="modal">
    <header class="bar bar-header" >
        <h1 class="title" style="color: white">调课后上课时间</h1>
    </header>
    <ion-content has-header="true" class="viewbackgroundcolor">
        <div class="list" style="margin-top: 45px;opacity: 0.7">
            <label class="item" ng-click="opendateModal_adjustafter()">
                <span style="margin-right: 15px;">调课后 上课日期 :</span>
                <span class="item-note">{{after_date}}</span>
            </label>
            <label class="item" ng-click="sectionafter()">
                <span style="margin-right: 15px;">调课后 上课节次 :</span>
                <span class="item-note">{{after_section}}</span>
            </label>
        </div>
        <div class="padding">
            <div style="float: left;width: 49%;opacity: 0.8" >
                <button class="button button-block button-assertive" ng-click="closeaftertime()" >取消</button>
            </div>
            <div style="float: right; width: 49%;opacity: 0.8">
                <button class="button button-block button-positive" ng-click="determinetimeafter()">确定</button>
            </div>
        </div>
    </ion-content>
</div>