<ion-tabs  class="tabs-icon-top tabs-color-active-positive"  >

    <!-- Dashboard Tab -->
    <ion-tab title="我的签到" icon-off=" icon ion-ios-email-outline" icon-on="ion-ios-email" href="#/Getpoint_tabs/getpointstudent">
        <ion-nav-view name="Getpoint_tabs-getpointstudent"></ion-nav-view>
    </ion-tab>

    <ion-tab title="班级成员签到" icon-off=" icon ion-ios-book-outline" icon-on="ion-ios-book" href="#/Getpoint_tabs/members" >
        <ion-nav-view name="Getpoint_tabs-members"></ion-nav-view>
    </ion-tab>
</ion-tabs>