<ion-tabs  class="tabs-icon-top tabs-color-active-positive" >

    <!-- Dashboard Tab -->
    <ion-tab  title="消息通知" icon-off=" icon ion-ios-email-outline" icon-on="ion-ios-email" href="#/index_tab/alerts">
        <ion-nav-view name="index_tab-alerts"></ion-nav-view>
    </ion-tab>

    <ion-tab title="学习" icon-off=" icon ion-ios-book-outline" icon-on="ion-ios-book" href="#/index_tab/study" >
        <ion-nav-view name="index_tab-study"></ion-nav-view>
    </ion-tab>

    <ion-tab title="生活" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/index_tab/live" >
        <ion-nav-view name="index_tab-live"></ion-nav-view>
    </ion-tab>

    <ion-tab title="个人信息" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/index_tab/information">
        <ion-nav-view name="index_tab-information"></ion-nav-view>
    </ion-tab>



</ion-tabs>