<!--<ion-view view-title="生活" class="viewbackgroundcolor" hide-back-button="true">-->
    <!--<ion-content>-->

<ui-view>
    <ion-view>
        <ion-content>
            <div class="padding">
                <h1>生活</h1>
                <button class="button button-positive">1231</button>
                <div class="demo1">
                </div>
                <div class="demo2">
                </div>
            </div>
        </ion-content>
    </ion-view>

</ui-view>

    <!--</ion-content>-->
<!--</ion-view>-->