<style>
    .transparent {
        background: transparent !important;
    }

    .image-modal {
        width: 100% !important;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
    }

    .fullscreen-image {
        max-width: 100%;
        max-height: 100%;
        bottom: 0;
        left: 0;
        margin: auto;
        overflow: auto;
        position: fixed;
        right: 0;
        top: 0;
    }

    @media (max-width: 600px) {
        .modal-backdrop-bg {
            background-color: #191919;
        }
    }
</style>

<!--<ion-view view-title="个人信息" class="viewbackgroundcolor">-->
    <!--<ion-content class="padding">-->
    <ion-view view-title="个人信息" hide-back-button="true">
        <ion-content class="padding">
                <div class="item item-input" style="padding-right: 15px; padding-top: 2%;padding-bottom: 2%;">
                    <!-- 设置头像位置以及样式-->
                    <div style="float: left">
                        <img src="{{student.Photo}}" ng-click="showImage()" style="width: 64px; height: 64px">
                    </div>
                    <!-- 设置基本样式-->
                    <div style="float: left;width: 100%; margin-left: 20px;" ng-click="changePhoto()">
                        <label class=" item-input" style="padding-right: 15px">
                            <span class="label">姓名：</span>
                            <span class="label_1" style="text-align: right">{{student.StudentName}}</span>
                        </label>
                        <label class=" item-input" style="padding-right: 15px">
                            <span class="label">性别：</span>
                            <span class="label_1" style="text-align: right">{{student.Sex}}</span>
                        </label>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory item-note"></i>
                </div>

                <!-- 添加点击放大头像的样式-->
                <script id="before" type="text/ng-template">
                    <div class="modal image-modal transparent">
                        <ion-pane class="transparent">
                            <img style="width: 90%;height: auto;" src="{{student.Photo}}" class="fullscreen-image"
                                 ng-click="closeModal()"/>
                        </ion-pane>
                    </div>
                </script>

                <!-- 添加选择头像后弹出窗口预览-->
                <script id="after" type="text/ng-template">
                    <div class="modal image-modal transparent" ng-click="usePhoto()">
                        <ion-pane class="transparent">
                            <div class="bar bar-header bar-royal">
                                <i class="ion-chevron-left"  ng-click="back()"></i>
                                <span class="backbuttons" ng-click="back()">返回</span>

                                <h1 class="title"></h1>
                                <button class="button button-clear" style="margin-right: 10px"  ng-click="save()">保存</button>
                            </div>
                            <img style="width: 90%;height: auto;" src="{{imgSrc_after}}" class="fullscreen-image"/>
                        </ion-pane>
                    </div>
                </script>

                <!-- 个人信息的其他属性-->
                <div class="list list-inset">
                    <div class="item item-icon-right">
                        学号
                        <span class="item-note">{{student.Number}}</span>
                        <i class="icon ion-chevron-right icon-accessory" style="color: white"></i>
                    </div>
                    <div class="item item-icon-right" ng-click="changePhone()">
                        电话
                        <span class="item-note">{{student.Phone}}</span>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                    <div class="item item-icon-right" ng-click="changeQQ()">
                        Q&nbspQ
                        <span class="item-note">{{student.QQ}}</span>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                    <div class="item item-icon-right">
                        宿舍
                        <span class="item-note">{{student.Dorm}}</span>
                        <i class="icon ion-chevron-right icon-accessory" style="color: white"></i>
                    </div>
                    <div class="item item-icon-right" ng-click="changeAreaId()">
                        籍贯
                        <span class="item-note">{{student.Native}}</span>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                    <div class="item item-icon-right" ng-click="registFace()">
                        人脸识别注册
                        <!--<span class="item-note"><i class="ion-social-instagram"></i></span>-->
                        <i class="icon ion-social-instagram icon-accessory"></i>
                    </div>
                </div>
                <div style="float: left;width: 49%">
                    <button class="button button-block button-assertive " style=" opacity: 0.8;border: 0;border-radius: 0" ng-click="changePassword()">
                        修改密码
                    </button>
                </div>
                <div style="float: right; width: 49%;">
                    <button class="button button-block button-positive " style=" opacity: 0.8;border: 0;border-radius: 0" ng-click="cancellation()">注销
                    </button>
                </div>
                <!--修改个人信息-->
                <script id="change_informations" type="text/ng-template">
                    <div class="modal" >

                        <ion-header-bar class="" style="background-color: #369FAB">
                            <h1 class="title" style="color: white">修改{{some.tag}}</h1>
                            <button class="button button-icon icon ion-ios-close" style="color: white" ng-click="close()"></button>
                        </ion-header-bar>

                        <ion-content>
                            <form ng-submit="createTask(task)">
                                <div class="list"  >
                                    <label class="item item-input" style="background-color: transparent">
                                        <input type="text" class="inforinput" placeholder="{{some.message}}"  ng-model="new.Infors">
                                    </label>

                                    <div class="list" style="display: {{show}}">
                                        <label class="item item-input" style="background-color: transparent">
                                            <input type="text" class="inforinput" placeholder="请输入新的密码"  ng-model="new.New_password">
                                        </label>
                                        <label class="item item-input" style="background-color: transparent">
                                            <input type="text" class="inforinput" placeholder="请确认您的密码"  ng-model="new.Sure_password">
                                        </label>
                                    </div>
                                </div>

                                <div class="padding">
                                    <button class="button button-block button-positive" style="border: 0;border-radius: 0" ng-click="saveInfo()">保存</button>
                                </div>
                            </form>
                        </ion-content>
                    </div>
                </script>
        </ion-content>
    </ion-view>



    <!--</ion-content>-->
<!--</ion-view>-->