<ion-view view-title="学习" hide-back-button="true">
    <ion-content direction="x">
        <div class="jiugon" align="center" style="float: left;">
        </div>
        <div class="longitudinaldivfirst" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float:left;" ng-click="leave()">
            <div class="iconspan">
                <i class="ion-ios-list-outline" style="font-size: 70px;"></i>
                <br/>
                <span>我的请假</span>
            </div>
        </div>
        <div class="longitudinaldivfirst" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float: right;">
        </div>
        <div style="clear: both" class="transversediv"></div>
        <div class="jiugon" align="center" style="float: left;" ng-click="MySchedule()">
            <div class="iconspan">
                <i class="ion-ios-calendar" style="font-size: 70px;"></i>
                <br/>
                <span>我的课表</span>
            </div>
        </div>
        <div class="longitudinaldivsecond" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float: left;" ng-click="sign()">
            <div class="iconspan">
                <i class="ion-android-locate" style="font-size: 70px;"></i>
                <br/>
                <span>签到</span>
            </div>
        </div>
        <div class="longitudinaldivsecond" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float: right;" ng-click="classmates()">
            <div class="iconspan">
                <i class="ion-ios-people" style="font-size: 70px;"></i>
                <br/>
                <span>我的同学</span>
            </div>
        </div>
        <div style="clear: both" class="transversediv"></div>
        <div class="jiugon" align="center" style="float: left;">
        </div>
        <div class="longitudinaldivthird" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float: left;" ng-click="myteachers()">
            <div class="iconspan">
                <i class="ion-android-contact" style="font-size: 70px;"></i>
                <br/>
                <span>我的老师</span>
            </div>
        </div>
        <div class="longitudinaldivthird" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float: right;">
        </div>
    </ion-content>
</ion-view>

