<ion-tabs  class="tabs-icon-top tabs-color-active-positive"  >

    <!-- Dashboard Tab -->
    <ion-tab title="调课申请" icon-off=" icon ion-ios-email-outline" icon-on="ion-ios-email" href="#/teachaer_CourseAdjust_tab/CourseAdjustment">
        <ion-nav-view name="teachaer_CourseAdjust_tab-CourseAdjustment"></ion-nav-view>
    </ion-tab>

    <ion-tab title="申请情况" icon-off=" icon ion-ios-book-outline" icon-on="ion-ios-book" href="#/teachaer_CourseAdjust_tab/CourseAdjustSituation" >
        <ion-nav-view name="teachaer_CourseAdjust_tab-CourseAdjustSituation"></ion-nav-view>
    </ion-tab>
</ion-tabs>