<ion-view view-title="班级考勤" hide-back-button="true">
    <ion-nav-buttons>
        <i class="ion-chevron-left" ng-click="return()"></i>
        <span class="backbuttons" ng-click="return()">返回</span>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a class="item item-avatar" ng-repeat="attendance_student in attendance_students" href="#/teacher_attendance/{{attendance_student.StudentId}};{{attendance_student.StudentName}};{{attendance_student.Photo}}" >
                <img src={{attendance_student.Photo}}>
                <span>{{attendance_student.StudentName}}</span>
                <p>{{attendance_student.Number}}次旷课</p>
            </a>
        </div>
    </ion-content>
</ion-view>