<ion-view view-title="学院列表"  hide-back-button="true">
    <ion-nav-buttons side="left">
        <i class="ion-chevron-left" ng-click="return()"></i>
        <span class="backbuttons" ng-click="return()">返回</span>
    </ion-nav-buttons>
    <ion-content>

        <ion-list style="color: white;">
            <!-- 绑定跳转的地址，系统自动寻找id-->
            <ion-item class="item-icon-right" ng-repeat="college in colleges"  type="item-text-wrap" href="#/teacher_college/{{college._id}}">
                <h2>{{college.CollegeName}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>