<ion-view>
    <ion-content direction="x">

        <div class="jiugon" align="center" style="float: left;">

        </div>

        <div class="longitudinaldivfirst" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float:left;" ng-click="course()">
            <div class="iconspan">
                <i class="ion-ios-list-outline" style="font-size: 70px;"></i>
                <br/>
                <span>调课申请</span>
            </div>
        </div>

        <div class="longitudinaldivfirst" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float: right;">

        </div>

        <div style="clear: both" class="transversediv"></div>
        <div class="jiugon" align="center" style="float: left;" ng-click="attendance()">
            <div class="iconspan">
                <i class="ion-ios-calendar-outline" style="font-size: 70px;"></i>
                <br/>
                <span>班级考勤</span>
            </div>
        </div>

        <div class="longitudinaldivsecond" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float: left;" ng-click="send()">
            <div class="iconspan">
                <i class="ion-ios-email-outline" style="font-size: 70px;"></i>
                <br/>
                <span>信息发送</span>
            </div>
        </div>

        <div class="longitudinaldivsecond" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float: right;" ng-click="classmates()">
            <div class="iconspan">
                <i class="ion-ios-people-outline" style="font-size: 70px;"></i>
                <br/>
                <span>我的班级</span>
            </div>
        </div>

        <div style="clear: both" class="transversediv"></div>
        <div class="jiugon" align="center" style="float: left;">

        </div>

        <div class="longitudinaldivthird" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float: left;" ng-click="leavereview()">
            <div class="iconspan">
                <i class="ion-android-checkbox-outline" style="font-size: 70px;"></i>
                <br/>
                <span>请假审核</span>
            </div>
        </div>

        <div class="longitudinaldivthird" style="float: left;height: 28.5vh"></div>
        <div class="jiugon" align="center" style="float: right;">

        </div>

    </ion-content>
</ion-view>
